p  {
   /* color:rgb(255, 255, 255);*/
    font-family: "Lobster", sans-serif;
    text-align: left; 
    /* https://www.google.com/search?q=google+color+picker&client=safari&sca_esv=a702c171394dd447&rls=en&biw=1278&bih=730&ei=2y_bZ9bCOdrX7M8P5IO70AE&ved=0ahUKEwiWnJe4hJeMAxXaK_sDHeTBDhoQ4dUDCBI&uact=5&oq=google+color+picker&gs_lp=Egxnd3Mtd2l6LXNlcnAiE2dvb2dsZSBjb2xvciBwaWNrZXIyBRAAGIAEMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgQQABgeMgQQABgeMgQQABgeMgQQABgeMgQQABgeMgQQABgeSIwRUKIKWNMPcAJ4AZABAJgBUaABuAOqAQE2uAEDyAEA-AEBmAIIoAKABMICChAAGLADGNYEGEfCAg0QABiABBiwAxhDGIoFwgIHEAAYgAQYDcICCBAAGAcYChgewgIIEAAYExgHGB7CAgoQABgTGAcYChgemAMAiAYBkAYKkgcBOKAHlyeyBwE2uAftAw&sclient=gws-wiz-serp*/ 
    color: #000000;
    background-color:#8387eb ;
    

}

h1{
    font-size: 3.5em;
    color: #a5b4fc;
    font-family:'Montserrat',sans-serif;
}
.title{
    background-color: #665e48;
}
.valeur-class {
    color:black;
}
.valeur-c2{
    font-size: 23px;
    color: black;
}
.a{
    color: black;
}

.entete{
    background-color: white;
}







    

